<div class="card">
    <h1>Gestión Categoria</h1>

    <p-button (click)="showDialog()" icon="pi pi-external-link" label="Nueva Categoria"></p-button>
    <p-dialog header="Gestión Categoria" [(visible)]="visible" [modal]="true" [style]="{ width: '25vw' }" [draggable]="false" [resizable]="false" styleClass="p-fluid">
        
        <form [formGroup]="categoriaForm">
            <label>Ingrese Nombre</label>
            <input type="text" pInputText formControlName="nombre">
            <br>
            <label>Ingrese Detalle</label>
            <textarea rows="5" cols="30" pInputTextarea formControlName="detalle"></textarea>

            <br>
            <p-button type="button" [disabled]="!categoriaForm.valid" (click)="guardarCategoria()" label="Guardar Categoria"></p-button>
        </form>
        

    </p-dialog>


    <p-table [value]="categorias" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DETALLE</th>
                <th>GESTIÓN</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cat>
            <tr>
                <td>{{ cat.id }}</td>
                <td>{{ cat.nombre }}</td>
                <td>{{ cat.detalle }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCategoria(cat)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCategoria(cat)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>