<div class="card">
    <h1>Lista Pedidos</h1>

    <p-table [value]="pedidos" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>COD PEDIDO</th>
                <th>FECHA</th>
                <th>CLIENTE</th>
                <th>Vendedor</th>
                <th>PRODUCTOS</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pedido>
            <tr>
                <td>{{ pedido.cod_pedido }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>
                    <h6>{{ pedido.cliente.nombre_completo }} -  {{ pedido.cliente.ci_nit }}</h6>

                </td>
                <td>{{ pedido.user?.email }}</td>
                <td>{{ pedido.productos }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>